<!-- Breadcrumb-->
<div class="row pt-2 pb-2">
	<div class="col-sm-9">
		<h4 class="page-title">Student Lists</h4>
	</div>
</div>
<!-- End Breadcrumb-->
<!-- Filter Datatable Options Starts -->
<div class="row">
	<div class="col-sm-12 mb-4">
		<div class="card">
			<div class="card-header text-uppercase">Student Table</div>
			<div class="card-body">
				<input type='text' class="form-control" placeholder='Type to filter the name column...' (keyup)='updateFilter($event)' />
				<ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" (page)="pageNo" [limit]="15" [rows]='rows'></ngx-datatable>
                
                <div class="pagination-div d-block w-100" >
                <div class="pagination">
                    <span class="page-link previous" (click)="previous()" *ngIf="pageNo !== 1">Previous
                    </span>
                   <span class="paginationcolor" *ngFor="let item of ShowStudentcounts;let i = index" class="page-link"  [style.Color]="pageNo == item?'blue'  :'black'"   (click)="ChangePageNo(item)">{{item}}</span>
                   <span class="page-link" (click)="next()">Next
                   </span>
                  </div>
                  </div>
			</div>
		</div>
	</div>
</div>
<!-- Filter Datatable Options Ends -->