
<!--Popup 1 -->
<ng-template #content1 let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Login Details</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"> <span aria-hidden="true">&times;</span>
		</button>
	</div>
<div class="card" style="overflow: auto;">
    <table class="table">
        <thead class="sticky">
            <tr>
                <th scope="col">Sr No.</th>
                <th scope="col">Login Time</th>
                <th scope="col">Images</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of Userdata;let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{data.LAST_LOGIN}}</td>
                <td>
                    <img  src="https://offee.online/services/uploads/user_login/{{data.image}}" alt="" srcset=""  width="100px">
                </td>
            </tr>
        </tbody>
    </table>
</div>

	<div class="modal-footer" style="border-bottom:none !important;border-top:none !important">
	</div>
</ng-template>
<!--popup closed-->


<!-- Filter Datatable Options Starts -->
<div class="row">
	<div class="col-sm-12 mb-4">
		<div class="card">
			<div class="card-header text-uppercase">Students Logged In</div>
            <div class="card-body text-right">
                  <button class="btn btn-danger"><i class="icon-logout icons"></i>Logout All</button>
            </div>
			<div class="card-body">
    <div class="flex gap-5">
      <input type='text' class="form-control" placeholder='Unique Id' (keyup)='updateFilter($event)' />
      <button class="btn btn-success" (click)="SEARCH_LOGGED_IN()">Search</button>
    </div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 mb-4">
		<div class="card">
         <div class="card-body">
          <h5 class="card-title">Student Logged</h5>
          <div class="table-responsive">
            <table class="table">
              <thead class="sticky">
                <tr>
                  <th scope="col">Sr No.</th>
                  <th scope="col">Name</th>
                  <th scope="col">ROLL</th>
                  <th scope="col">LAST LOGIN</th>
                  <th scope="col">IMAGE</th>
                  <th scope="col">LogOut</th>
                  <th scope="col">Details</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of rows;let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{data.fname}}</td>
                  <td>{{data.roll}}</td>
                  <td>{{data.LAST_LOGIN}}</td>
                  <td>
                    <img src="https://testing.offee.online/services/uploads/user_login/{{data.image}}" alt="" width="60px">
                 </td>
                  <th><i class="icon-logout icons btn btn-danger"></i></th>
                  <th><i class="icon-info icons btn btn-info" (click)="openXl(content1);onSelect(data)"></i></th>
                </tr>
              </tbody>
            </table>
          </div>
         <div class="modal-footer" *ngIf="!rows.length"  style="border-bottom:none !important;border-top:none !important;display: flex;justify-content: center;">
                    NO DATA TO DISPLAY !
            </div>
         </div>
		</div>
	</div>
</div>
