<!--Popup 1 -->
<ng-template #content1 let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Add Cat Sem Wise</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"> <span aria-hidden="true">&times;</span>
		</button>
	</div>

<div class="card-body" [formGroup]="form">
        <div class="form-group row">
            <label for="basic-select" class="col-sm-3 col-form-label">Select Category</label>
            <div class="col-sm-9">
                <select class="form-control" id="default-select">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                    <option>Option 5</option>
                </select>
            </div>
             </div>
	 <div class="modal-body">
		<button class="btn btn-success width-100" (click)="Submit()" [disabled]="!form.valid">Submit</button>
	</div>
</div>

	<div class="modal-footer" style="border-bottom:none !important;border-top:none !important">
	</div>
</ng-template>

<div class="flex-div">
    <button class="btn btn-success" (click)="openVerticallyCentered(content1);create_new_semester()">Create New Semester</button>
</div>



<!-- Filter Datatable Options Starts -->
<div class="row">
	<div class="col-sm-12 mb-4">
		<div class="card">
			<div class="card-header text-uppercase">Category Semester Lists</div>
			<div class="card-body">
				<input type='text' class="form-control" placeholder='Type to filter the category...' (keyup)='updateFilter($event)' />
				<ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"  [limit]="15" [rows]='rows'></ngx-datatable>
			</div>
		</div>
	</div>
</div>
<!-- Filter Datatable Options Ends -->

